*{
  margin: 0px;
  padding: 0px;
  box-sizing:border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
}

.main-container{
  margin: auto;
  width: 1300px;
}

.nomina-container{
  margin: auto;
  width: 1300px;
}

.btn{
margin-left: 10px;
}

.perfil{  
background-color: #0091ff;
width: 150px;
height: 45px;
padding: 5px;
border-radius: 50px;
transition: transform 0.3s;
}

.perfil-1{
  padding: 5px;
display: flex;
justify-content: space-around;
}


.perfil:hover{
  background-color: #0079d5;
color: rgb(255, 255, 255);
transform: scale(1.08,1.08);
}




